In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [27]:
df=pd.read_csv("trainKNN.txt",sep=',',header=None,names=["o0","o1","o2","o3","o4","o5","o6","o7","o8","o9","glass"])

In [28]:
df.head()

   o0       o1     o2    o3    o4     o5    o6    o7   o8   o9  glass
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      1

In [29]:
df.drop(["o0"],axis=1,inplace=True)

In [30]:
df.head()

        o1     o2    o3    o4     o5    o6    o7   o8   o9  glass
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      1

In [31]:
df.describe()

,o1,o2,o3,o4,o5,o6,o7,o8,o9,glass
count,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000,196.000000
mean,1.518295,13.375204,2.758980,1.454337,72.635408,0.519388,8.910714,0.164235,0.050255,2.668367
std,0.003055,0.783145,1.392641,0.491688,0.763578,0.672703,1.421490,0.485198,0.086359,2.062416
min,1.511310,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516458,12.877500,2.362500,1.190000,72.317500,0.140000,8.220000,0.000000,0.000000,1.000000
50%,1.517630,13.280000,3.480000,1.360000,72.810000,0.560000,8.575000,0.000000,0.000000,2.000000
75%,1.518985,13.792500,3.610000,1.622500,73.080000,0.610000,9.092500,0.000000,0.090000,3.000000
max,1.533930,15.790000,4.490000,3.500000,75.180000,6.210000,16.190000,3.150000,0.340000,7.000000

In [32]:
df["glass"].unique()  # there are this many classes of glass

array([1, 2, 3, 5, 6, 7])

In [33]:
df["glass"].value_counts()

2    73
1    67
7    26
3    14
5    10
6     6
Name: glass, dtype: int64

In [34]:
df.corr()

,o1,o2,o3,o4,o5,o6,o7,o8,o9,glass
o1,1.000000,-0.158559,-0.153610,-0.446641,-0.530520,-0.296570,0.821277,0.009425,0.104980,-0.166670
o2,-0.158559,1.000000,-0.216384,0.234219,-0.196462,-0.248626,-0.278983,0.336526,-0.250335,0.484154
o3,-0.153610,-0.216384,1.000000,-0.520530,-0.095263,-0.039185,-0.461244,-0.488494,0.066167,-0.714713
o4,-0.446641,0.234219,-0.520530,1.000000,0.010147,0.335160,-0.284701,0.477098,-0.067659,0.640944
o5,-0.530520,-0.196462,-0.095263,0.010147,1.000000,-0.181488,-0.197767,-0.162194,-0.058347,0.092812
o6,-0.296570,-0.248626,-0.039185,0.335160,-0.181488,1.000000,-0.321540,-0.019632,-0.011720,0.029423
o7,0.821277,-0.278983,-0.461244,-0.284701,-0.197767,-0.321540,1.000000,-0.100585,0.120076,-0.019545
o8,0.009425,0.336526,-0.488494,0.477098,-0.162194,-0.019632,-0.100585,1.000000,-0.030133,0.566769
o9,0.104980,-0.250335,0.066167,-0.067659,-0.058347,-0.011720,0.120076,-0.030133,1.000000,-0.227560
glass,-0.166670,0.484154,-0.714713,0.640944,0.092812,0.029423,-0.019545,0.566769,-0.227560,1.000000

In [35]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score # import all the functions reqd for cross validation

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

x= df[["o1","o2","o3","o4","o5","o6","o7","o8","o9"]].values
y = df['glass'].values

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

for i in [1,2,3,4,5,6,7,8,9,10,20,50]:  # values for K
  knn = KNeighborsClassifier(i)     #initialising the model
  knn.fit(x_scaled,y)      # training the model
  print("K value  : " , i, " score : ", np.mean(cross_val_score(knn, x_scaled, y ,cv=10))) #cv=10  means splitting into 10 segments,#predicting using the model

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

K value  :  1  score :  0.6678947368421053
K value  :  2  score :  0.7194736842105264
K value  :  3  score :  0.6834210526315789
K value  :  4  score :  0.6892105263157895
K value  :  5  score :  0.6786842105263158
K value  :  6  score :  0.6786842105263158
K value  :  7  score :  0.653157894736842
K value  :  8  score :  0.6634210526315789
K value  :  9  score :  0.6526315789473685
K value  :  10  score :  0.6581578947368422
K value  :  20  score :  0.5813157894736843
K value  :  50  score :  0.5060526315789473

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 6 members, which is less than n_splits=10.
  UserWarning,

In [38]:
#from the above cross validation score we find at K=2 we get better mean cross val score 

classifier = KNeighborsClassifier(n_neighbors=2)  #initialized 
classifier.fit(x_scaled,y)

KNeighborsClassifier(n_neighbors=2)

In [39]:
df_test=pd.read_csv("testKNN.txt",sep=',',header=None,names=["o0","o1","o2","o3","o4","o5","o6","o7","o8","o9","glass"])
df_test

     o0       o1     o2    o3    o4     o5    o6     o7    o8    o9  glass
0    68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.00  0.17      1
1    69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.00  0.16      1
2    70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.00  0.03      1
3   144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.00  0.00      2
4   145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.00  0.24      2
5   146  1.51839  12.85  3.67  1.24  72.57  0.62   8.68  0.00  0.35      2
6   161  1.51832  13.33  3.34  1.54  72.14  0.56   8.99  0.00  0.00      3
7   162  1.51934  13.64  3.54  0.75  72.65  0.16   8.89  0.15  0.24      3
8   163  1.52211  14.19  3.78  0.91  71.36  0.23   9.14  0.00  0.37      3
9   174  1.52043  13.38  0.00  1.40  72.25  0.33  12.50  0.00  0.00      5
10  175  1.52058  12.85  1.61  2.17  72.18  0.76   9.70  0.24  0.51      5
11  176  1.52119  12.97  0.33  1.51  73.39  0.13  11.27  0.00  0.28      5
12  183  1.51916  14.15  0.00  2.09  72.74  0.00  10.88  0.00  0.00      6
13  184  1.51969  14.56  0.00  0.56  73.48  0.00  11.22  0.00  0.00      6
14  185  1.51115  17.38  0.00  0.34  75.41  0.00   6.65  0.00  0.00      6
15  212  1.52065  14.36  0.00  2.02  73.42  0.00   8.44  1.64  0.00      7
16  213  1.51651  14.38  0.00  1.94  73.61  0.00   8.48  1.57  0.00      7
17  214  1.51711  14.23  0.00  2.08  73.36  0.00   8.62  1.67  0.00      7

In [40]:
df_test.drop(["o0"],axis=1,inplace=True)

In [41]:
x_test=df_test.iloc[:,:-1]
x_test.head()

        o1     o2    o3    o4     o5    o6     o7   o8    o9
0  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17
1  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16
2  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03
3  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00
4  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24

In [42]:
y_test=df_test["glass"].values

In [43]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_test = scaler.fit_transform(x_test)

In [44]:
y_pred = classifier.predict(x_test)

In [45]:
print(y_pred)

[1 1 1 2 2 1 2 1 1 2 2 5 6 2 6 7 7 7]

# Evaluation

In [46]:
from sklearn.metrics import classification_report, confusion_matrix
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.50      1.00      0.67         3
           2       0.33      0.67      0.44         3
           3       0.00      0.00      0.00         3
           5       1.00      0.33      0.50         3
           6       1.00      0.67      0.80         3
           7       1.00      1.00      1.00         3

    accuracy                           0.61        18
   macro avg       0.64      0.61      0.57        18
weighted avg       0.64      0.61      0.57        18

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))